*{
    box-sizing: border-box;
}


body
{
    font-family: 'Reem Kufi Fun', sans-serif;
}

.connection_window
{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.connection_form
{

}

.connection_title
{
    font-size: 50px;
}

.connection_input
{
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Reem Kufi Fun', sans-serif;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin-top: 5px;
    margin-bottom: 5px;
}

.connection_input::placeholder
{
    color: #212529;
    opacity: 0.4;
}

.connection_confirm
{
    margin-top: 15px;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Reem Kufi Fun', sans-serif;
    line-height: 1.5;
    color: #212529;
    background-color: #ff7c00;
    background-clip: padding-box;
    border: 1px solid #000;
    border-radius: 5px;
}

.connection_confirm:hover
{
    background-color: #e56f00;
}
